<p>coches-table-list works!</p>
<ng-container>
    <table>
        <thead>
            <th>Id</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Puertas</th>
            <th>Tipo de Coche</th>
            <th>Potencia</th>
            <th>En oferta</th>
            <th>Es Visible</th>
            <th>Está vendido</th>
            <th></th>
        </thead>
        <ng-container *ngFor="let coche of coches">
            <tr *ngIf="coche.vendido === false">                
                <td>{{coche.id}}</td>
                <td>{{coche.marca}}</td>
                <td>{{coche.modelo}}</td>
                <td>{{coche.puertas}}</td>
                <td>{{coche.tipoDeCoche}}</td>
                <td>{{coche.potencia}}</td>
                <td>{{coche.oferta}}</td>
                <td>{{coche.visible}}</td>
                <td>{{coche.vendido}}</td>            
                <td><button *ngIf="coche.vendido === false ;else templateName" (click)="infoClick(coche)">Mostrar Info</button></td>
            </tr>
        </ng-container>
    </table>
</ng-container>
<div>
    <span>

    </span>
</div>
<ng-template #templateName>
    <h1>
        Dentro de un ng-template
    </h1>
</ng-template>