<div class="container">
    <h1>
        Listado de Coches (Grid)
    </h1>
    <table>
        <thead>
            <th>Pos.</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Puertas</th>
            <th>Tipo de Coche</th>
            <th>Potencia</th>
            <th class="center">En oferta</th>
            <th class="center">Es Visible</th>
            <th class="center">Disponible</th>
            <th></th>
        </thead>
        <ng-container *ngFor="let coche of coches; let idx = index;">
            <tr [ngClass]="{'en-oferta': coche.oferta}" appHighLight >
                <td>{{idx + 1}}</td>
                <td [style.color]="coche.color">{{coche.marca}}</td>
                <td [ngStyle]="{color: coche.color ? coche.color: 'white'}">{{coche.modelo}}</td>
                <td class="right">{{coche.puertas}}</td>
                <td>{{coche.tipoDeCoche}}</td>
                <td class="right">{{coche.potencia}}</td>
                <td class="center">
                    <app-switch-si-no [valor]="coche.oferta"></app-switch-si-no>
                </td>
                <td class="center">
                    <app-switch-si-no [valor]="coche.visible"></app-switch-si-no>
                </td>
                <td class="center" appCocheDisponibleStatus [noDisponible]="coche.vendido" (vender)="venderCoche(coche)">
                  
                </td>
                <td class="actions">
                    <i class="far fa-money-bill-alt" title="Vender Coche" *ngIf="!coche.vendido" (click)="venderCoche(coche)"></i>
                    <i class="far fa-edit" title="Editar Coche" (click)="infoClick(coche)"></i>                    
                </td>
            </tr>
        </ng-container>
    </table>
</div>