<div [appMiSelect]="chochesSelectOptions" class="mi-select" [placeHolder]="'Seleccione una marca'"
    (selectionChange)="marcaSelectionChange($event)">

</div>

{{marcaSelected}}

<!-- <app-coches-filter (soloDisponibles)="filtrarSoloDisponibles()" (soloEnOferta)="filtrarSoloEnOferta()" (todos)="mostrarTodos()">
</app-coches-filter>

<div class="button-actions" appHoverSpan>
    <button (click)="cambiarVistaClick()">Cambiar vista</button>
    <button (click)="soldOut()">Sold out</button>
    <button (click)="reset()">Restablecer</button>
</div>


<app-coches-card-list [coches]="coches" (vender)="vender($event)" *ngIf="mostrarTarjetas; else mostrarGrid"></app-coches-card-list>

<ng-template #mostrarGrid>
    <app-coches-table-list [coches]="coches" (vender)="vender($event)" (show)="showCoche($event)"></app-coches-table-list>
</ng-template> -->