.btn {
    width: 200px;
    margin-right: 20px;
    height: 34px;
    color: #000;
    border-color: rgba(0,0,0,.12);
    background-color: white;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%), 0 0 0 0 rgb(0 0 0 / 12%);

    &:hover {
        background-color: rgba(128, 128, 128, 0.199);
        cursor: pointer;
    }

    &.primary {
        color: #3f51b5;
        background: white;

        &:hover {  
            background-color: #3f51b52a;    
        }

        &:disabled {
            background-color: gray !important;
        }
    }
}

.row-buttons {
    display: flex;
    flex-flow: row-reverse;
    button{
        margin-left: 20px;
    }
}

.mi-select {
    width: 200px;
    height: 20px;
    border-bottom: 1px solid grey;
    cursor: pointer;
    position: relative;

    i {
        right: 5px;
        position: absolute;
        top: -5px;

        &.fa-times {
            &:hover {
                color: red;
            }
        }
    }

    .select-container {
        display: block;
        top: 20px;
        position: absolute;
        width: 100%;
        background: white;
        box-shadow: 0 2px 2px 1px rgba(29, 27, 27, 0.164);
        ul {
            list-style: none;
            padding-left: 0;
            li {
                padding-left: 5px;
                padding-top: 3px;
                padding-bottom: 3px;

                &:hover {
                    background-color: lawngreen;
                }
            }
        }
    }
}
